web-frontend/test/venv
web-frontend/test/__pycache__
web-frontend/test/data/__pycache__
web-frontend/test/models/__pycache__
web-frontend/test/.env
web-frontend/ui/__pycache__
web-frontend/ui/venv
web-frontend/ui/.env
web-frontend/ui/index.json
web-frontend/ui/data/__pycache__